/* Navbar */

nav button.btn {
	margin-right: 0.5rem;
}

.nav-fab {
	font-size: 28px;
}

/* Jumbotron */

.jumbotron-fluid {
	text-shadow: #444 0 1px 1px;
   	color: #FFF;
   	position: relative;
   	height: 50vh;
   	overflow: hidden;

   /*	min-height: 100%;
   	min-height: 100vh;*/

   	display: flex;
   	align-items: center;
}

.jumbotron-fluid .container-fluid {
	position: relative;
	/*height: 100%;*/
	z-index: 2;
}

.jumbotron-fluid .bg {
	background: url("../img/code.jpg") top center no-repeat;
	width: 105%;
	height: 110%;
	-webkit-background-size: cover;
   	-moz-background-size: cover;
   	background-size: cover;
   	-o-background-size: cover;
	overflow: hidden;
	position: absolute;
   	filter: blur(7px);
   	top: 0;
   	left: 0;
   	z-index: 1;
   	margin: -5px -10px -10px -15px;
}

.container {
	margin-bottom: 4%;
}

/* About Section */

hr {
  border: 0;
  border-top: 1px solid #8c8c8c;
  border-bottom: 1px solid #fff;
}

.credit {
	margin: 4%;
}

/* What I use Section */

.img-code {
	width: 200px;
	margin: 1% auto;
}

.code-info {
	margin: 3% auto;
}