.buttons {
	display: -webkit-flex;
	display: flex;
	 -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
	width: 215px;
    height: 275px;
    background-color: lightgrey;
}

.row_one {
	margin: auto;
}

.row_two {
	margin: auto;
}

.row_three {
	margin: auto;
}

.row_four {
	margin: auto;
	
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 5px;
    text-decoration: none;
    margin: auto;
    cursor: pointer;
	width: 60px;
	height: 60px;
}

p {
	padding-top: 5px;
	padding-right: 48px;
}
