.calculator {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.all_button, .all_button_simple {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}

.all_button {
  display: none;
}
.all_button_simple {
  padding-left: 44px;
  display: flex;
}

.button_left_simple, .button_right_simple {
  -webkit-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s;
}

.button_left, .button_right {
  -webkit-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s;
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  25% { opacity: 0.5; }
  100% { opacity: 1; }
}
@keyframes fadeIn {
  0% { opacity: 0; }
  25% { opacity: 0.5; }
  100% { opacity: 1; }
}



input[type="button"] {
  width: 30px;
  height: 30px;
  margin: 5px 5px;

  background-color: #4CAF50;
  border: none;
  color: white;
  cursor: pointer;
}

input[type="button"]:hover {
    /*background-color: #4CAF50;*/
    color: black;
}

input[type="button"].showHide {
  background-color: blue;
}

input[type="button"].num_pad{
  background-color: #3e8e41;
}

input[type="button"].enter {
  width: 75px;
  height: 30px;
}

input[type="button"].showHide {
  width: 118px;
  height: 30px;
}

textarea {
  resize: none;
  border: none;
  border: 1px black solid;
}
